:root {
  --banner-start: #2b5876;
  --banner-end: #4e4376;
}

/* Simple gradient banner */
.gradient-banner {
  background: linear-gradient(90deg, var(--banner-start), var(--banner-end));
  color: #fff;
}


/* Task 2 - Pagination */
.pagination{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;

}



/* Task 11 - IMH Hotline */
#imh-hotline{
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: yellow;
  width: 100%;
}
